<!DOCTYPE html>
<html lang="en" ng-app>
<head>
	<meta charset="UTF-8">
	<title>Document</title>

	<link rel="stylesheet" href="css/bootstrap.min.css">
	<script src="js/lib/angular.min.js"></script>
</head>
<body>
	
<div class="container">
	<h1>ng-model</h1>
	<br>
	<p>
		Su nombre:{{ nombre | uppercase}}
		<br>
		<input type="text" ng-model="nombre" class="form-control" placeholder="Ingrese su nombre completo">
	</p>

<p>
Selecciona un pais: {{pais}}
	<select class="form-control" ng-model="pais">
		<option value="1">Costa rica</option>
		<option value="2">Mexico</option>
		<option value="3">Colombia</option>
	</select>
</p>

<p>
	seleccione las opciones que desee:  {{opt1}} {{opt2}}
	<br>
	<input type="checkbox" ng-model="opt1">Opcion 1
	<br>
	<input type="checkbox" ng-model="opt2">Opcion 2
</p>

<p>
	seleccione el genero:{{genero}}
	<br>
	<input type="radio" value="M" ng-model="genero">Masculino
	<input type="radio" value="F" ng-model="genero">Femenino
</p>


</div>

</body>
</html>